
.clearfix:after {content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */


/* START_OF GENERAL **********************************************************/
a {text-decoration:none; color:#0050AF;}
a:hover, a:visited{color:#0050AF;}
a:hover {text-decoration:underline}

ul.clean_list {list-style-type:none}
ul.clean_list li {padding:0px;margin:0px;position:relative;}
ul.horizontal_clean_list li                                           {float:left; margin-right:10px;} /* same as a regular .span-x */

ol.test {list-style-type: lower-alpha;}

#header {text-align: center; background-color: #E9E9FF; border-bottom: 2px solid #6E6CBF;}
.correct{background-color: #FFF680}
.wrong{background-color: #BF8F60}

h3 {padding:0px; margin: 0px; display:inline}
.comment{background-color: #FFFBBF; border-bottom: 1px solid #BFB960; margin-bottom: 4px;}
label {font-weight: normal}
#last_events {width:185px; padding-left: 0px; border-left: 1px dotted #6E6CBF}
#last_events .date{font-size:.8em;margin-bottom:1.875em;line-height:1.875em; color: #BBB}
#last_events ul li {border:0px; margin:0px; padding: 0px;}
#last_events a {color:#EEE; text-decoration:underline}
#last_events .heading {text-align:center; padding-top: 10px;}
#last_events .event_title{font-weight: bold; padding:0px 4px; margin:0px;background-color:#6E6CBF;}
#last_events .digest{background-color: #E9E9FF; padding: 4px; }

/*
azules
#C9C8FF
#6E6CBF
#E9E9FF
#9390FF

naranjas
#FFDFBF
#BF8F60
#FFF2E6
#FFBF80

amarillos
#FFFBBF
#BFB960
#FFFDE6
#FFF680
*/